html {
    background-color: black;

}
.btn {
    text-align: center;
    display: flex;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    background-color: red;
    align-items: center;
    margin: 5px 5px 5px auto;
    width: 250px;
    height: 35px;
}
.menu{
    display: flex;
    flex-direction: row-reverse;
}
.users{
    font-size: 14px;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    background-color: red;
    margin: 5px 5px 5px;
    border-radius: 5px;

}

.page-conteiner{
    margin-left: 100px;
    margin-right: 100px;
}
.click{
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.page-content{
    background-color: white;
    border-radius: 5px;
}
img{
    margin: 10px
}
.user-info{
    height: 150px;
    display: flex;
    align-items: center;
}
.error{
    color: red;
    background-color: black;
}